* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #cccccca2;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: #cc6ef1;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}
.logo img{
  border-radius: 50px;
  width: 40px;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}


.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 10px 0;
  transition: 0.5s ease;
}

.navbar .links a:hover {
  color: #fff;
}

.navbar .buttons a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: black;
  color: #fff;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 15px;
  color: black;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black;
}

.hero-section .buttons {
  margin-top: 40px;
}

.hero-section .buttons a {
  text-decoration: none;
  color: black;
  padding: 12px 24px;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: 0.2s ease;
  display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
  margin-right: 30px;
}

.buttons .join {
  background-color: #fff;
}

#menu-toggle {
    display: none;
}

#hamburger-btn {
        font-size: 1.8rem;
        color: #fff;
       cursor: pointer;
       display: none;
       order: 1;
}

.hero-section .buttons .learn {
  border: 1px solid #fff;
  border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
  background-color: black;
  color: #fff;
}
.card {
  width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(21, 17, 17, 0.615);
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  display: block;
  position: relative;
 
  
}
.container {
  max-width: 900px; 
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

#about {
  max-width: 100%; 
  padding: 0 15px; 
}

#about p {
  width: 100%; 
  padding: 20px;
  text-align: justify;
}



#Work img {
  width: 100%;
  border-radius: 12px;
}

#h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0;
  color: black;
}

#h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
  text-align: justify;
  color: black;
}

#Contact {
  text-align: center;
  padding: 40px 15px; 
}

.container {
  max-width: 800px; 
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
textarea {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="submit"] {
  background: none;
  color: #000;
  padding: 12px 20px;
  border: black 2px solid;
  border-radius: 8px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: hsl(97, 25%, 94%);
}

footer {
  text-align: center;
  padding: 20px 15px; 
  color: #fff;
}
footer {
  background-color:#cc6ef1;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .navbar .logo a {
    font-size: 1.5rem;
  }

  .navbar .links {
    position: fixed;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 35%;
    padding-top: 50px;
    background: #6fcbdc;
    flex-direction: column;
    transition: 0.3s ease;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
    right: 200px;
  }

  .navbar #hamburger-btn {
    display: flex;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
    padding: 15px;
  }

  .hero-section .buttons {
    margin-top: 20px;
  }
  .hero-section .img1 img {
    max-width: 80%;
    left: 80px;
    right: 0;
    margin: auto;
   position: absolute;
    top: 880px;
}
.hero-section .img2 img {
max-width: 70%;
left: 120px;
position: absolute;
top: 830px;
}

  .hero-section .buttons a {
    padding: 12px 20px;
  }

  .hero-section .img2 img {
    max-width: 100%;
  }
  .container {
    padding: 10px;
}

  #about p {
    font-size: 1rem;
    padding: 20px;
  }


  #Work img {
    margin-top: 190%;
  }
  .card{
  width: 100%;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  padding-top: 560%;
  padding-right: 5px;
    

}
.card img{
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 


}

  #h2 {
    font-size: 1.5rem;
    padding: 20px;
    top: 70%;
  }

  #h3 {
    font-size: 1rem;
    padding: 20px;
    top: 50%;
    margin-top: 180%;
  }

  input[type="text"],
  select,
  textarea {
    left: 0;
  }

  input[type="submit"] {
    left: 0;
    top: 110%;
  }

  footer {
    padding-top: 50%;
  }

  .container {
    left: 0;
    top: 140%;
  }
  .social-icons {
    flex-direction: column;
    align-items: center; }

.social-icons a {
    margin-bottom: 10px; 
}
}

